{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1> My Tasks </h1>
            <p> 
                <a href = "{% url 'create_project'%}"> Create a new project</a>
            </p>

            {% for task in task_list %}
                <table>
                    <thead>
                        <th> Name </th> 
                        <th> Start date </th>
                        <th> Due date </th>
                        <th> Is completed </th>
                        <tbody>
                            
                            
                            <tr>
                                <td> {{ task.name }} </td>
                                <td> {{ task.start_date }} </td>
                                <td> {{ task.due_date }} </td>
                                <td> {{ task.is_completed }} </td>
                                
                                
                                {% if task.is_completed == False %}
                                <form method="post" action="{% url 'complete_task' task.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form>
                                {% else %} 
                                    Done 
                                {% endif %}
                                

                            </tr>
                        
                        </tbody>
                </table>
            {% empty %}
            <p>You have no tasks</p>

            {% endfor %}
        </div>
    </main>

{% endblock content %}